on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Get app token
        id: app-token
        uses: PostHog/create-app-token@main
        with:
          app_id: ${{ secrets.GH_APP_WIZARD_RELEASER_APP_ID }}
          private_key: ${{ secrets.GH_APP_WIZARD_RELEASER_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          release-type: node
